  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
<%= form_for(@user, html: { multipart: true }) do |f| %>
  <% if @user.id %>
    <h5><span>ID: </span> <%= @user.id.to_s %></h5>
  <% end %>

  <%= f.label "Name:" %>
  <%= f.text_field :name %>

  <%= f.label "Email:" %>
  <%= f.text_field :email %>

  <%= f.label "User Type:" %>
  <%= f.select "userType", options_for_select(["banned", "user" ], "user") %>

  <%= f.label "Password:" %>
  <%= f.password_field :password, min: DateTime.now %>

  <%= f.label "Password Confirmation:" %>
  <%= f.password_field :password_confirmation %>

  <%= image_tag @user.picture.url if @user.picture? %>

  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
