<article id="user_photo" class="panel">

	<p id="notice"><%= notice %></p>

	<%= form_for(@user) do |f| %>
		<%= image_tag @user.picture.url || '', alt: '' %>

		<br /><br />
    <%= f.label "Upload photo:" %> 
	  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

	  <p class="centered">or</p>
	  
    <%= f.label "Photo url:" %> 
	  <%= f.url_field :picture_url, { value: '' }%>

	  <%= submit_tag "Change Photo" %> 
	<% end %> 

  <%= link_to "Back to Profile", current_user %> 
</article>