<article id="user_photo" class="panel">

	<p id="notice"><%= notice %></p>

	<%= form_for(@user) do |f| %>
		<%= image_tag @user.picture.url if @user.picture? %>

	  <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>

	  <p>or</p>

	  Photo url: <%= f.url_field :picture_url, { value: '' }%>

	  <%= submit_tag "Change Photo" %> 
	<% end %> 

  <%= link_to "Back to Profile", current_user %> 
</article>