<article id="user_edit" class="panel">

	<h1>Edit User</h1>

	  <% if @user.errors.any? %>
	    <div class="error_msg">
	      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	      <ul>
	      <% @user.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>


	<div class="account_panel">
		<%= link_to "Info", 'javascript:;', class: 'active' %> 
		<%= link_to "Security", :controller=>"users", :action=>"new_password", :id => @user.id %> 
	</div> 

	<div class="account_form">
		<%= form_for(@user, html: { multipart: true }) do |f| %>
		  <% if @user.id && is_admin %>
		    <h5><span>ID: </span> <%= @user.id.to_s %></h5>
		  <% end %>

		  <%= f.label "Name:" %>
		  <%= f.text_field :name %>

		  <%= f.label "Email:" %>
		  <%= f.text_field :email %>

			<%= f.label "Allow other users to contact you via email:", class: 'long' %>
			<%= f.radio_button :reachable, 'true', { checked: ( @user.reachable ? "checked" : ""), class: ("short " + (@user.reachable ? "checked" : ""))} %>


		  <% if is_admin %>

		    <%= f.label "User Type:" %>
		    <%= f.select :user_type, options_for_select(["banned", "user", "admin"], @user.user_type || 'user' ) %>

		    <%= f.label "Activated:" %>
		    <%= f.select :activated, options_for_select(["true", "false"], @user.activated || 'false' ) %>

		  <% end %>

		  <br />
		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
	</div>

	<% if is_admin %> 
		<%= link_to 'Back to Index', users_path %>
	<% end %> 	
	<%= link_to (is_current_user(@user) ? 'Back to Profile' : 'Show'), user_path %>

</article>