
<article id="index_user" class="panel">

  <p id="notice"><%= notice %></p>

  <h1>Listing Users</h1>

  <h5> Users in database: <%= @users.length %> </h5>

  <%= will_paginate %>

  <div class="table">
   
      <div class="row head">
        <div class="cell" >ID</div>
        <div class="cell name" >User Type</div>
        <div class="cell" >Name</div>
        <div class="cell" >Email</div>
        <div class="cell" ></div>
        <div class="cell" >ACTIONS</div>
        <div class="cell" ></div>
      </div>

    
    <%  @users.each do |user| %>
      <div class="row">
        <div class="cell"><%= user.id %></div>
        <div class="cell" ><%= user.user_type %></div>
        <div class="cell" ><%= user.name %></div>
        <div class="cell"><%= user.email %></div>
        <div class="cell first action" ><%= link_to 'Show', user %></div>
        <div class="cell action" ><%= link_to 'Edit', edit_user_path(user) %></div>
        <div class="cell action" ><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
    
  </div>

  <%= will_paginate %>

  <br>

  <%= link_to 'New User', new_user_path %>

</article>