<article id="user_edit" class="panel">

	<h1>Edit User</h1>

	  <% if @user.errors.any? %>
	    <div class="error_msg">
	      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	      <ul>
	      <% @user.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <% if @notice %> 
	  	<p class="error_msg"><%= @notice %></p>
	  <% end %> 

	<div class="account_panel">
		<%= link_to "Info", edit_user_path(current_user.id) %> 
		<%= link_to "Security", 'javascript:;', class: 'active'%> 
	</div> 

	<div class="account_form">
		<%= form_for(:user, html: { multipart: true }) do |f| %>

		  <%= f.label "Old Password:" %>
		  <%= f.password_field :old_password %>

		  <%= f.label "New Password:" %>
		  <%= f.password_field :password %>

		  <%= f.label "Password Confirmation:" %>
		  <%= f.password_field :password_confirmation %>

		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
	</div>

	<%= link_to 'Back', user_path %>
</article>