<article id="show" class="panel">


<%= image_tag @user.picture.url if @user.picture? %>

<h1>User: <%= @user.name %></h1>

<h2> Email: <%= @user.email %></h2> 

 
<p> pwd digest: <%= @user.password_digest || "NOT DEFINED" %> </p>

<%= link_to 'Back', users_path %>

</article>
