<article id="show_user" class="panel">

	<p id="notice"><%= notice %></p>

	<h1><%= @user.name %>'s Profile</h1> 

	<%= image_tag @user.picture.url || '' %>

	<div class="user_text"> 
		<% if !is_current_user(@user) %>
			<p><%= @user.description || '' %> </p>
		<% else %> 
			<p class="description"><%= @user.description || '' %> </p>
			<input type="button" value="<%= @user.description ? 'edit' :'add' %> description" class="edit_description_button" onclick="trigger_edit_descripton(); return false">

			<div class="edit_description hidden"> 
				<%= form_for(@user) do |f| %>
					<%= f.text_area :description, { value: @user.description || '', cols: 40, rows: 4 } %>
					<%= submit_tag 'Save Description' %> 
					<input type="button" value="cancel" class="cancel_edit_descripton" onclick="cancel_description_edit(); return false">
				<% end %> 
			</div>
		<% end %>

		<% if !is_current_user(@user)  %>
			<a href='https://mail.google.com/mail/?view=cm&fs=1&to=<%= @user.email %>&su=Message%20from%20user%20at%20IDK%20NYC' target='_blank'>contact this person</a>
		<% end %>
	</div>

	<% if is_current_user(@user) %>
		<br />
		<br />
		<%= link_to (@user.picture ? 'Edit Avatar' : 'Add Avatar'), :controller=>"users", :action=>"edit_photo", :id => @current_user.id %>
		<%= link_to 'Edit Account', edit_user_path(@current_user) %>
	<% end %>

</article>
