<article id="show" class="panel">

<p id="notice"><%= notice %></p>

<%= image_tag @user.picture.url if @user.picture? %>

<h1>User: <%= @user.name %></h1>

<h2> Email: <%= @user.email %></h2> 

<h2> User Type: <%= @user.userType %> </h2>
 
<p> pwd digest: <%= @user.password_digest? ? "DEFINED" : "NOT DEFINED" %> </p>

<% if is_current_user(@user) %>
	<%= link_to 'Edit Profile', edit_user_path(@current_user) %>
<% end %>

</article>
