
	<div class="result_img" style="background-image:url(<%= result.imageurl %>)"></div>
	
	<% if logged_in? %> 
		<a class="fav social <%= ((user_events.include? result.id.to_i )? 'active': '') %>" target="_blank">3</a>
	<% end %> 
	
	<%= render 'shared/social', result: result %>

	<div class="text">
		<h3> <%= result.name %> </h3>
		<h5><span>Address:</span> <%= result.address %></h5>

		<% if !result.types.nil? %>
		<h5><span>Type:</span> <%= result.types %></h5>
		<% end %>

		<% if !result.startdate.nil? %>
			<h5><span>Start Time:</span> <%= result.startdate.strftime("%l:%M %P") %></h5>
		<% end %> 

		<% if !result.enddate.nil? %>
			<h5><span>End Time:</span> <%= result.enddate.strftime("%l:%M %P") %></h5>
		<% end %>

		<% if !result.price.nil? %>
		<h5><span>Price:</span> <%= result.price == 0 ? " FREE" : " $" + result.price.to_s + "0" %></h5>
		<% end %>

	</div>

	<input id="description" value="<%= result.description %>" type="hidden">

	<div class="learn_more_box hidden">
			<% if result.description && !result.description.empty? %>
				<h5><span>Description:</span> <%= result.description %></h5>
			<% end %>

			<div class="map_container hidden">
				<input class="lat" value="<%= result.lat %>" type="hidden">
				<input class="lng" value="<%= result.long %>" type="hidden">
				<input class="name" value="<%= result.name %>" type="hidden">
			</div>

			<h5><span>Creator:</span> <%= link_to result.creator_name, user_path(result.creator_id) %> </h5>
			<h5><span>ID:</span> <%= result.id %></h5>
			<div class="learn_more"><a class="page_link" href="/event/<%= result.id %>">link</a></div>
	</div>
	<input class="learn_more_button" type="button" value="expand">
