  <% if @event_result.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@event_result.errors.count, "error") %> prohibited this event_result from being saved:</h2>
      <ul>
      <% @event_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
<%= form_for(@event_result) do |f| %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% if @event_result.id %>
  <h5><span>ID: </span> <%= @event_result.id %></h5>
  <% end %> 

  <%= f.label "Name:" %>
  <%= f.text_field :name %>

  <%= f.label "Address:" %>
  <%= f.text_field :address %>


  <%= f.label "Startdate:" %>
  <%= date_field :start1, nil, class: "half first" %>
  <%= time_select :start2, nil, { include_seconds: false }, { :class => "quarter"} %>

  <%= f.label "Enddate:" %>
  <%= date_field :end1, nil, class: "half first" %>
  <%= time_select :end2, nil,{ include_seconds: false }, { :class => "quarter"} %>

  <%= f.label "Price:" %>
  <%= f.number_field :price %>

  <%= f.label "Types:" %>
  <%= f.text_field :types %>

  <%= f.label "Source:" %>
  <%= f.text_field :source %>

  <%= f.label "Description:" %>
  <%= f.text_area :description, cols: 60, rows: 10 %>

  <%= f.label "Event url:" %>
   <%= f.url_field :eventurl, cols: 60, rows: 4 %>

  <%= f.label "Image url:" %>
  <%= f.url_field :imageurl, cols: 60, rows: 4%>
  <%= image_tag( @event_result.imageurl, alt: "") %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
