<% provide(:title, @title) %>
<article id="all" class="panel">

	<header>
		<center><h1>Results</h1></center>
	</header>

	<%= will_paginate %>
	<div> 
		<%  if @event_results == "ZERO_RESULTS" %>
					Error: NO RESULTS
		<%	elsif @event_results == "INVALID_REQUEST" %>
			 		SOMETHING HAPPEDN BAD REQEST
		<%  elsif @event_results.nil? || @event_results.empty?  %>
					No Results.
		<%  elsif @event_results.kind_of?(Array) == false %>
				<%= @event_results %>
		<%  else  
					count = 1
					@event_results.each do |result| %>
							<div class="result-container <%= count % 2 == 0 ? 'even' : '' %>">
								<%= render 'shared/event', result: result %>
							</div>
			 		<% count += 1
			 			end %>
	<% end %>

	</div>
	
	<%= will_paginate %>

</article>