<p id="notice"><%= notice %></p>

<h1>Listing Event Results</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_results.each do |event_result| %>
      <tr>
        <td><%= link_to 'Show', event_result %></td>
        <td><%= link_to 'Edit', edit_event_result_path(event_result) %></td>
        <td><%= link_to 'Destroy', event_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event result', new_event_result_path %>
