
<article id="show" class="panel">

	<p id="notice"><%= notice %></p>

	<%= image_tag @event_result.imageurl %>

	<%= render 'shared/social', result: @event_result, user_events: @user_events %>
	
	<h3> <%= @event_result.name %> </h3>

	<% if !@event_result.address.nil? && @event_result.address.length > 0 %>
		<h5><span>Address:</span> <%= @event_result.address %></h5>
	<% end %>

	<% if !@event_result.types.nil? && @event_result.types.length > 0 %>
	<h5><span>Type:</span> <%= @event_result.types %></h5>
	<% end %>

	<% if !@event_result.startdate.nil? %>
		<h5><span>Start Time:</span> <%= @event_result.startdate.strftime("%l:%M %P") %></h5>
	<% end %> 

	<% if !@event_result.enddate.nil? %>
		<h5><span>End Time:</span> <%= @event_result.enddate.strftime("%l:%M %P") %></h5>
	<% end %>

	<% if !@event_result.price.nil? %>
	<h5><span>Price:</span> <%= @event_result.price == 0 ? " FREE" : " $" + @event_result.price.to_s + "0" %></h5>
	<% end %>


	<% if !@event_result.description.nil? && @event_result.description.length > 0 %>
		<h5><span>Description:</span> <%= @event_result.description %></h5>
	<% end %>

	<div class="map_container">
		<input class="lat" value="<%= @event_result.lat %>" type="hidden">
		<input class="lng" value="<%= @event_result.long %>" type="hidden">
		<input class="name" value="<%= @event_result.name %>" type="hidden">
	</div>

	<h5><span>Creator:</span> <%= link_to @event_result.creator_name, user_path(@event_result.creator_id) %> </h5>
	<h5><span>ID:</span> <%=@event_result.id %></h5>

	<div class="learn_more"><a class="page_link" href="<%= @event_result.eventurl %>"> original event</a></div>

	<% if current_user_n_admin_id(@event_result.creator_id) %>
		<%= link_to 'Delete', @event_result, method: :delete, data: { confirm: 'Are you sure?' } %> |
		<%= link_to 'Edit', edit_event_result_path(@event_result) %> |
		<% if is_admin %> 
			<%= link_to 'Back', event_results_path %>
		<% else %> 
			<%= link_to 'Back', :controller=>"users", :action=>"events", :id => @current_user.id %>
		<% end %> 
	<% end %> 

</article>