<% provide(:title, PagesController::DO_STATUS) %>
<article id="watdo" class="panel">
	<header>
		<h2>What To Do?!</h2>
	</header>

	<form action="results" method="post">

		<br />Enter Price:
		<input type= "number" name="price" min="0.00" default="0.00" max="100000.00" value="<%= @params['price'] || '' %>" />
		<br />

		<select name="radius" id="radius"> 
			<option value="0" selected="selected"> Distance </option>
			<option value="800"> 1/2 mile </option> 
			<option value="1600"> 1 mile </option> 
			<option value="3200"> 2 miles </option> 
			<option value="8000"> 5 miles </option> 
			<option value="16000"> 10 mile </option>
		</select>

		<br />Enter Keyword: 
		<input type= "text" name="keyword" value="<%= @params['keyword'] || '' %>" /> 
		<br />
		<br />
		<input type="hidden" name="lat" value="<%= @params['latitude'] || @latitude %>" />
		<input type="hidden" name="long" value="<%= params['longitude'] || @longitude %>" />

		<input type="hidden" name="source" value="<%= yield(:title) %>">

		<input type="submit" name="topic_submit" value="Search" />

	</form action>

</article>
