<% provide(:title, @title) %>
<article id="results" class="panel">

	<header>
		<center><h1>Results</h1></center>
	</header>

	<div> 
		<%  if @results == "ZERO_RESULTS" %>
					SORY NO RESULTS
		<%	elsif @results == "INVALID_REQUEST" %>
			 		SOMETHING HAPPEDN BAD REQEST
		<%  elsif @results.kind_of?(Array) == false %>
					<%= @results.inspect %>
		<% else %>
			<%  @results.each do |result| %>
						<div class="result-container">
							<div class="text">
							<h2> <%= result.name %> </h2>
							<h5>Address: <%= result.address %></h5>
							<h5>Type: <%= result.types %></h5>
							<h5 class="short">Price: <%= result.price %></h5>
							<h5 class="short">Rating: <%= result.rating %></h5>
							<img src="<%= result.imageurl %>">
						</div>
	
					</div>
		 <% end 
			end %>
		
	</div>
</article>