<% provide(:title, ApplicationHelper::DO_STATUS) %>
<article id="watdo" class="panel">
	<header>
		<h2>What To Do?!</h2>
	</header>

	<% if defined? @error_msg %>
		<div class="error_msg"> <%= @error_msg.html_safe %> </div>
	<% end %>

	<%= form_tag({controller: "application", action: "results"}, method: "post") do %>
	 <input class="mapViewToggle" type="checkbox" name="mapview" />
		<div class="maptoggle">
			<img src="assets/list.png" class="listViewState" />
			<img src="assets/map.png" class="mapViewState" />
		</div>

		<input type= "number" name="price" min="0.00" default="0.00" max="100000.00" placeholder="Enter Price:" value="<%= params.include?('price') ? params['price'] : '' %>" class="<%= @price_error.nil? ? '' : 'error' %>"/>

		<select name="radius" id="radius" class="<%= @radius_error.nil? ? '' : 'error' %>"> 
			<option value="0" <%= params.include?('radius') ? (params['radius'] == '0' ? 'selected="selected"' : ''): selected="selected" %> > Distance </option>
			<option value=".5" <%= params.include?('radius') ? (params['radius'] == '.5' ? 'selected="selected"' : ''): '' %> > 1/2 mile </option> 
			<option value="1" <%= params.include?('radius') ? (params['radius'] == '1' ? 'selected="selected"' : ''): '' %> > 1 mile </option> 
			<option value="2" <%= params.include?('radius') ? (params['radius'] == '2' ? 'selected="selected"' : ''): '' %> > 2 miles </option> 
			<option value="5" <%= params.include?('radius') ? (params['radius'] == '5' ? 'selected="selected"' : ''): '' %> > 5 miles </option> 
			<option value="10" <%= params.include?('radius') ? (params['radius'] == '10' ? 'selected="selected"' : ''): '' %> > 10 mile </option>
		</select>

		<input type= "text" name="keyword" value="<%= params.include?('keyword') ? params['keyword'] : '' %>" placeholder="Enter Keyword:"/> 
	
		<input class="ipHolder" type="hidden" name="ip" value="<%= @ip %>" />
		<input type="hidden" name="lat" value="<%= params.include?('latitude') ? params['latitude'] : '' %>" />
		<input type="hidden" name="long" value="<%= params.include?('longitude') ? params['longitude'] : '' %>" />

		<input type="hidden" name="source" value="<%= yield(:title) %>">

		<input type="submit" name="topic_submit" value="Search" class="dbquery" />

	<% end %>

</article>
