<% provide(:title, @title) %>
<article id="map_results" class="panel">

	<header>
		<center><h1>Map Results</h1></center>
	</header>

	<div> 
		<%  if @results == "ZERO_RESULTS" || @results.empty? %>
				<div class="centered"> 
					Sorry, there are no events in your specified vecinity. <br /> Please try a larger radius.
				<div>  
		<%	elsif @results == "INVALID_REQUEST" %>
				<div class="centered"> 
			 		SOMETHING HAPPEDN BAD REQEST
			 	<div> 
		<%  elsif @results.kind_of?(Array) == false %>
				<div class="centered"> 
					<%= @results %>
				</div> 
		<%  else %>

			<% if @title == "DO" %>

				<div class="map_container big">
					<input class="lat" value="<%= params['lat'] %>" type="hidden">
					<input class="lng" value="<%= params['long'] %>" type="hidden">
					<input class="name" value="<%= params['name'] %>" type="hidden">

					<% @results.each do |result| %>
						<div class="arrayelm">
							<input class="lat" value="<%= result["lat"] %>" type="hidden">
							<input class="lng" value="<%= result['long'] %>" type="hidden">
							<input class="name" value="<%= result['name'] %>" type="hidden">
							<input class="address" value="<%= result['address'] %>" type="hidden">
							<input class="types" value="<%= result['types'] %>" type="hidden">
							<input class="id" value="<%= result['id'] %>" type="hidden">
						</div>
					<% end %>

				</div>

			<% end
			end %>


	</div>
</article>

