<% provide(:title, @title) %>
<article id="results" class="panel">

	<header>
		<center><h1>Results</h1></center>
	</header>

	<div> 
		<%  if @results == "ZERO_RESULTS" || @results.empty? %>
				<div class="centered"> 
					Sorry, there are no events in your specified vecinity. <br /> Please try a larger radius.
				<div>  
		<%	elsif @results == "INVALID_REQUEST" %>
				<div class="centered"> 
			 		SOMETHING HAPPEDN BAD REQEST
			 	<div> 
		<%  elsif @results.kind_of?(Array) == false %>
				<div class="centered"> 
					<%= @results %>
				</div> 
		<%  else %>

			<% if @title == "SEARCH" 
					count = 1
					@results.each do |result| %>
							<div class="result-container <%= count % 2 == 0 ? 'even' : '' %>">
								<%= render 'shared/event', result: result, user_events: @user_events %>
							</div>
			 		<% count += 1
			 			end %>
			 		<%= form_tag({controller: "application", action: "results"}, method: "post") do %>
 						<%= hidden_field_tag :price, nil, :value =>  params['price'] || '' %> 
    				<%= hidden_field_tag :radius, nil, :value =>  params['radius'] || '' %> 
			 		 	<%= hidden_field_tag :lat, nil, :value =>  params['lat'] || '' %> 
    				<%= hidden_field_tag :long, nil, :value =>  params['long'] || '' %> 
			 		 	<%= hidden_field_tag :keyword, nil, :value => params['keyword'] || '' %> 
    				<%= hidden_field_tag :source, nil, :value => @title %> 
						
    				<%= submit_tag "More" %>
				 	<% end %>
				<% end 
			end %>


	</div>
</article>