<% provide(:title, @title) %>
<article id="results" class="panel">

	<header>
		<center><h1>Results</h1></center>
	</header>

	<div> 
		<%  if @results == "ZERO_RESULTS" %>
					Error: NO RESULTS
		<%	elsif @results == "INVALID_REQUEST" %>
			 		SOMETHING HAPPEDN BAD REQEST
		<%  elsif @results.empty?  %>
					No Results.
		<%  elsif @results.kind_of?(Array) == false %>
				<%= @results %>
		<%  else %>
			<% if @title == "DO" 
					count = 1
					@results.each do |result| %>
							<div class="result-container <%= count % 2 == 0 ? 'even' : '' %>">
								<div class="text">
									<h2> <%= result.name %> </h2>
									<h5><span>Address:</span> <%= result.address %></h5>
									<h5><span>Type:</span> <%= result.types %></h5>
									<h5><span>Start Time:</span> <%= result.startdate.strftime("%l:%M %P") %></h5>
									<h5><span>End Time:</span> <%= result.endate.nil? ? "" : result.enddate.strftime("%l:%M %P") %></h5>
									<h5><span>Price:</span> <%= result.price == 0 ? " free" : " $" + result.price.to_s + "0" %></h5>
								</div>
								<div class="result_img" style="background-image:url(<%= result.imageurl %>)"></div>
								<div class="learn_more_box hidden">
										<h5><span>Description:</span> <%= result.description %></h5>
										<div class="learn_more"><a class="page_link" href="<%= result.eventurl %>"> event link</a></div>
								</div>
								<div class="expand_learn_more"><input class="learn_more_button" type="button"> more... </a></div>
							</div>
			 		<% count += 1
			 			end %>
				 	<form method="post" action="results"> 
				 		<input type="hidden" type= "number" name="price" min="0.00" default="0.00" max="100000.00" value="<%= params.include?('price') ? params['price'] : '' %>" />
						<input type="hidden" name="radius" value="<%= params.include?('radius') ? params['radius'] : '' %>" /> 
						<input type="hidden" name="lat" value="<%= params.include?('lat') ? params['lat'] : '' %>" />
						<input type="hidden" name="long" value="<%= params.include?('long') ? params['long'] : '' %>" />
						<input type="hidden" name="keyword" value="<%= params.include?('keyword') ? params['keyword'] : '' %>" />
						<input type="hidden" name="source" value="<%= @title %>">
				 		<input type="submit" name="topic_submit" value="More" class="result_submit" />
				 	</form>
				<% elsif @title = "EAT"
					@results.each do |result| %>
							<div class="result-container">
								<div class="text">
									<h2> <%= result.name %> </h2>
									<h5><span>Address:</span> <%= result.address %></h5>
									<h5><span>Type:</span> <%= result.types %></h5>
									<h5 class="short"><span>Price:</span> <%= result.price %></h5>
									<h5 class="short"><span>Rating:</span> <%= result.rating %></h5>
								</div>
								<div class="result_img" style="background-image:url(<%= result.imageurl %>)"></div>
							</div>
			 	<% end %>
			 		<form method="post" action="results"> 
				 		<input type="hidden" type= "number" name="price" value="<%= params.include?('price') ? params['price'] : '' %>" />
						<input type="hidden" name="radius" value="<%= params.include?('radius') ? params['radius'] : '' %>" /> 
						<input type="hidden" name="lat" value="<%= params.include?('lat') ? params['lat'] : '' %>" />
						<input type="hidden" name="long" value="<%= params.include?('long') ? params['long'] : '' %>" />
						<input type="hidden" name="keyword" value="<%= params.include?('keyword') ? params['keyword'] : '' %>" />
						<input type="hidden" name="source" value="<%= @title %>">
				 		<input type="submit" name="topic_submit" value="More" class="result_submit"/>
				 	</form>
				<% end 
			end %>
	</div>
</article>