<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %> | I Dont Know - WebApp</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="idk, events, nyc, ny, new york, new york city, party, fun, nightlife" />

		<meta property="og:url"           content="<%= request.original_url %>" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="<%= @title || 'IDK NYC' %>" />
		<meta property="og:description"   content="<%= @description || '' %>" />
		<meta property="og:image"         content="<%= @logo || '' %>" />
		<meta property="og:image:url" 		content="<%= @logo || '' %>">
		<meta property="og:image:type" 		content="image/jpeg">

		<!--
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" />
		-->

		<script>
		  var ipStackKey = '<%= ENV['ipStackKey'] %>';
		  var hereID = '<%= ENV['hereID'] %>';
		  var hereCode = '<%= ENV['hereCode'] %>';
		</script>
		<%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track' => true %>

		<% @javascriptsArray.each do |file| %>
			<% if(file === 'hereMaps') %>
				<%= javascript_include_tag "http://js.api.here.com/v3/3.0/mapsjs-core.js", 'data-turbolinks-track' => true %>
				<%= javascript_include_tag "http://js.api.here.com/v3/3.0/mapsjs-service.js", 'data-turbolinks-track' => true %>
				<%= javascript_include_tag "http://js.api.here.com/v3/3.0/mapsjs-ui.js", 'data-turbolinks-track' => true %>
				<%= javascript_include_tag "https://js.api.here.com/v3/3.0/mapsjs-mapevents.js", 'data-turbolinks-track' => true %>
      	<%= stylesheet_link_tag "http://js.api.here.com/v3/3.0/mapsjs-ui.css", 'data-turbolinks-track' => true %>
			<% elsif(file === 'edit') %> 
				<%= javascript_include_tag "http://code.jquery.com/jquery-1.10.2.js", 'data-turbolinks-track' => true %>
				<%= javascript_include_tag "http://code.jquery.com/ui/1.11.4/jquery-ui.js", 'data-turbolinks-track' => true %>
				<%= stylesheet_link_tag "http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css", 'data-turbolinks-track' => true %>
			<% elsif file ===  'googleCharts' %>
				<%= javascript_include_tag "https://www.google.com/jsapi?autoload= 
{'modules':[{'name':'visualization','version':'1.1','packages':
['corechart']}]}", 'data-turbolinks-track' => true %>
			<% end %> 
	  	<%= javascript_include_tag file, 'data-turbolinks-track' => true %>
	  <% end %>

	  <%= csrf_meta_tags %>

	</head>
	<body class="homepage">

			<div class="ipDialog hidden">
				<div class="dialog-back">
				</div>
				<div class="dialog-box">
						<input class="x-button" type="button" value="x">
						<span>Sorry. there was a problem, in pinpointing your location. Please refresh the page.</span>
						<input class="refresh-button" type="submit" value="Refresh">
				</div>
			</div>

			<%= render 'shared/nav' %>
				
		<!-- Wrapper-->
			<div id="wrapper">
				
				<!-- Nav -->
					<nav id="nav">
						<a href="/" class="fa fa-home <%= yield(:title) == 'HOME' ? 'active' : '' %>"><span>Home</span></a>
						<a href="/whatdo" class="fa fa-ticket <%= yield(:title) == 'DO' ? 'active' : '' %>"><span>What Do</span></a>
						<a href="/random" class="fa fa-random <%= yield(:title) == 'RANDOM' ? 'active' : '' %>"><span>Random</span></a>
					</nav>

					<!-- Main -->
					<div id="main">
							<!-- page goes here -->
							<%= yield %>

					</div>
		
				<!-- Footer -->
					<div id="footer">
						<ul class="links">
							<li>I Don't Know</li>
							<li><a href="http://developers.idontknow.info/?page_id=4">About Us</a></li>
							<li><a href="http://developers.idontknow.info/">Developers Blog</a></li>
						</ul>
					</div>
		
			</div>

	</body>
</html>