<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %> | I Dont Know - WebApp</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="idk, events, nyc, ny, new york, new york city, party, fun, nightlife" />

		<meta property="og:url"           content="<%= request.original_url %>" />
		<meta property="og:type"          content="website" />
		<meta property="og:title"         content="<%= @title || 'IDK NYC' %>" />
		<meta property="og:description"   content="<%= @description || '' %>" />
		<meta property="og:image"         content="<%= @logo || '' %>" />
		<meta property="og:image:url" 		content="<%= @logo || '' %>">
		<meta property="og:image:type" content="image/jpeg">

		<!--
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" />
		-->
		<%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track' => true %>

		<% @javascriptsArray.each do |file| %>
			<% if(file === 'googleMaps') %>
				<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key="+ ENV["googleKey"] +"&language=en", 'data-turbolinks-track' => true %>
			<% elsif(file === 'edit') %> 
				<%= javascript_include_tag "http://code.jquery.com/jquery-1.10.2.js", 'data-turbolinks-track' => true %>
				<%= javascript_include_tag "http://code.jquery.com/ui/1.11.4/jquery-ui.js", 'data-turbolinks-track' => true %>
				<%= stylesheet_link_tag "http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css", 'data-turbolinks-track' => true %>
			<% end %>
	  	<%= javascript_include_tag file, 'data-turbolinks-track' => true %>
	  <% end %>

	  <%= csrf_meta_tags %>

	</head>
	<body class="homepage">

			<div class="ipDialog hidden">
				<div class="dialog-back">
				</div>
				<div class="dialog-box">
						<input class="x-button" type="button" value="x">
						<span>Sorry. there was a problem, in pinpointing your location. Please refresh the page.</span>
						<input class="refresh-button" type="submit" value="Refresh">
				</div>
			</div>

		
				<div class="user_nav"> 
					<ul> 
						<% if logged_in? %>

							  <li><%= link_to 'PROFILE', user_path(current_user) %></li>
							<% if is_admin %>
								<li class="admin_button">ADMIN</li>
								<div class="admin_button hidden"> 
									<li><%= link_to 'USER INDEX', admin_user_index_path %></li>
									<li><%= link_to 'EVENT DB', admin_count_path %></li>
									<li><%= link_to 'EVENT INDEX', admin_index_path %></li>
									<li><%= link_to 'EVENTS', admin_all_path %></li>
								</div>
							<% end %>

							<li class="action_button">ACTIONS</li>	
							<div class="action_button hidden">
		          	<li class="<%= current_user.activated ? '' : 'blocked' %>"><%= link_to 'CREATE EVENT', new_event_result_path %></li>      
		          	<li><%= link_to 'FAV EVENTS', :controller=>"users", :action=>"fav_events", :id => @current_user.id %></li> 
								<li class="<%= current_user.activated ? '' : 'blocked' %>"><%= link_to 'YOUR EVENTS', :controller=>"users", :action=>"events", :id => @current_user.id %></li>       
							</div>
							<li class="logout_button"><%= link_to 'LOG OUT', logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out, ' + current_user.name + '?' } %></li>
						<% elsif !(on_log_in_page) %> 
							<li><%= link_to 'LOG IN', login_path %></li>
						<% end %> 
					</ul>
				</div>
		<!-- Wrapper-->
			<div id="wrapper">
				
				<!-- Nav -->
					<nav id="nav">
						<a href="/" class="fa fa-home <%= yield(:title) == 'HOME' ? 'active' : '' %>"><span>Home</span></a>
						<a href="/whateat" class="fa fa-cutlery <%= yield(:title) == 'EAT' ? 'active' : '' %>"><span>What Eat</span></a>
						<a href="/whatdo" class="fa fa-ticket <%= yield(:title) == 'DO' ? 'active' : '' %>"><span>What Do</span></a>
						<a href="/random" class="fa fa-random <%= yield(:title) == 'RANDOM' ? 'active' : '' %>"><span>Random</span></a>
					</nav>

					<!-- Main -->
					<div id="main">
							<!-- page goes here -->
							<%= yield %>

					</div>
		
				<!-- Footer -->
					<div id="footer">
						<ul class="links">
							<li>I Don't Know</li>
							<li><a href="http://developers.idontknow.info/?page_id=4">About Us</a></li>
							<li><a href="http://developers.idontknow.info/">Developers Blog</a></li>
						</ul>
					</div>
		
			</div>

	</body>
</html>